body {
  background-color: #0d1d35;
  padding: 0;
  margin: 0;
  color: white;
}

hr {
  border-top: 1px solid grey;
}

.page-padding {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-custom {
  background-color: #101010;
}

.main {
  margin-top: 5%;
  position: absolute;
  right: 0;
  left: 0;
}

.avatar-circle {
  background: linear-gradient(0.4turn, #52e5e7 0%, #130cb7 100%);
  box-shadow: rgba(0, 0, 0, 0.336) 2px 2px 20px 5px;
}

.work-card {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.336) 2px 2px 20px 5px;
  border-radius: 3vw;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: gray;
}