@import url("https://fonts.googleapis.com/css?family=Lato:regular,bold");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:regular,bold");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
}

.App img {
  max-width: 100%;
}

@media screen and (min-width: 601px) {
  .App .Page {
    padding-inline: 20%;
  }
}

@media screen and (max-width: 600px) {
  .App .Page {
    padding-inline: 4%;
  }
}

/* offset anchor to compensate from sticky header display */
.anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}

.App h2 {
  padding: 24px;
  opacity: 0.8;
}

@media screen and (min-width: 601px) {
  .App h2 {
    font-size: 38px;
  }
}

@media screen and (max-width: 600px) {
  .App h2 {
    font-size: 32px;
  }
}

.CRT {
  background: linear-gradient(141.07deg, #464a51 8.26%, #2e3238 89.59%);
  border: 16px solid #24272c;
  box-sizing: border-box;
  box-shadow: 8px 8px 32px 12px #111112, -8px -8px 16px #4e5359,
    inset -8px -8px 12px 16px rgba(78, 83, 89, 0.5),
    inset 8px 8px 12px 16px rgba(0, 0, 0, 0.25);
  border-radius: 57px;
}

@media screen and (min-width: 601px) {
  .CRT {
    padding: 64px;
  }
}

@media screen and (max-width: 600px) {
  .CRT {
    padding: 32px;
  }
}
