.App {
  position: relative;
  padding: 20px 15% 0 15%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  .App {
    padding: 20px 7% 0 7%;
  }
}

.App-content {
  padding: 0;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 4em;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 3em;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }
}

a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
