.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  z-index: 10; /* put on top of everything */
}

.modal-content {
  overflow: hidden;
  background-color: white;
  padding: 20px;
  width: 300px;
  max-width: 90%;
  border-radius: 10px;
  margin: 0 20px 0 20px;
}

.modal h3 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.modal h1 {
  margin: 0;
}

.modal input {
  box-sizing: border-box;
  width: 100%;
}

.modal .close-button {
  display: block;
  margin-left: auto;
}
