@font-face {
  font-family: 'CMU Serif';
  src: url('../assets/fonts/computer_modern/cmunrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../assets/fonts/computer_modern/cmunti.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../assets/fonts/computer_modern/cmunbx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('../assets/fonts/computer_modern/cmunbi.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

img {
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Default: show large, hide small */
.img-large {
  display: block;
}

.img-small {
  display: none;
}

/* On small screens, switch */
@media (max-width: 550px) {
  .img-large {
    display: none;
  }

  .img-small {
    display: block;
  }
}

body {
  margin: 0;
  padding: 2rem;
  font-family: 'CMU Serif', 'Times New Roman', Times, serif;
}

.page {
  max-width: 800px;
  margin: auto;
  font-size: 12pt;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 800px) {
  .page {
    width: 100%;
    box-shadow: none;
  }
}

ul {
  list-style-type: '- ';
  padding-inline-start: 1.5em;
}

h1 {
  margin-bottom: 0.3em;
  text-align: left;
  line-height: 1.2;
}

a {
  color: rgb(40, 102, 218);
}

.nowrap {
  white-space: nowrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11pt;
  table-layout: auto;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
  /* Light gray for even rows */
}

table tr:nth-child(odd) {
  background-color: #fff;
  /* White for odd rows */
}

th,
td {
  padding: 0.3em 0.6em 0.3em 0em;
  text-align: left;
  vertical-align: top;
  border: none;
  line-height: 1.2;
}

th {
  font-weight: bolder;
  border-bottom: 1px solid #444;
  white-space: nowrap;
}

td {
  background: none;
  white-space: normal;
}

.center {
  width: 100%;
  text-align: center;
}

.table-scroll {
  max-width: 100%;
  overflow-x: auto;
}

/* Only enable horizontal scroll on small screens */
@media (max-width: 700px) {
  .table-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
  }

  .table-scroll table {
    /* width of device - padding */
    width: calc(700px - 4rem);
  }

  /* Visual cue */
  .table-scroll::-webkit-scrollbar {
    height: 8px;
  }

  .table-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}